{% extends "base.html.jinja" %}
{% block content %}
<h1>Home</h1>
<p>This website was made for SDEV 300 lab6</p>
<h3>Things I've learned</h3>
<p>While reasearching stuff during this project I learned about:</p>
<ol>
	<li>Server side rendering</li>
	<li>Templating</li>
	<li>HTTP methods GET and POST</li>
	<li>XSS attacks</li>
	<li>SSTI attacks</li>
	<li>CORS</li>
	<li>Flask deployment using gunicorn</li>
	<li>Reverse proxies</li>
	<li>Websockets</li>
</ol>
<h3>The site was made using:</h3>
<ul>
	<li>HTML</li>
	<li>CSS</li>
	<li>Python</li>
	<li>Flask</li>
</ul>
<div id="imgrow">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/640px-HTML5_logo_and_wordmark.svg.png">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png">
	<img src="https://cdn.freebiesupply.com/logos/large/2x/flask-logo-png-transparent.png">
</div>
{% endblock %}